@media screen and (max-width: 768px) {
    .header-right-section{
        flex-direction: column;
    }
    .header-wrapper > header{
        flex-direction: column;
        align-items: center;
    }
    .slider-wrapper{
        padding-top: 15rem;
    }
    .event-detail-wrapper{
        padding-top: 15rem;
    }
}
@media screen and (max-width: 400px) {
    
}
