:root{
    --bs-font-sans-serif : "Poppins", sans-serif;
    --bs-dark-rgb: 17, 20, 24 ;
}
/* Loader Css */
.default-loader{
    background-color: #111418 ;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
}
.ball-scale-random {
    width: 37px;
    height: 40px; 
    position: absolute;
    top: 50%;
    left: 50%;
}  
.ball-scale-random > div {
      background-color: #0d6efd;
      width: 15px;
      height: 15px;
      border-radius: 100%;
      margin: 2px;
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
      position: absolute;
      display: inline-block;
      height: 30px;
      width: 30px;
      -webkit-animation: ball-scale 1s 0s ease-in-out infinite;
              animation: ball-scale 1s 0s ease-in-out infinite; 
}
.ball-scale-random > div:nth-child(1) {
    margin-left: -7px;
    -webkit-animation: ball-scale 1s 0.2s ease-in-out infinite;
            animation: ball-scale 1s 0.2s ease-in-out infinite; 
}
.ball-scale-random > div:nth-child(3) {
    margin-left: -2px;
    margin-top: 9px;
    -webkit-animation: ball-scale 1s 0.5s ease-in-out infinite;
            animation: ball-scale 1s 0.5s ease-in-out infinite; 
}
@-webkit-keyframes ball-scale {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0); }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0; } 
}
@keyframes ball-scale {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0); }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0; } 
}
  
/* End Loader Css */
.ml-5{
    margin-left: 5px;
}
.mr-5{
    margin-right: 5px;
}
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.login-left-wrapper{
    background-image: url(../images/login-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.login-left-wrapper:after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(17,20,24,0.7);
    z-index: 0;
}
.login-left-content{
    z-index: 5;
}
.login-left-content > img{
    height: 60px;
}
.login-left-content > h1{
    font-size: 28px;
    line-height: 37px;
}
.login-right-content > p.login-right-register{
    font-size: 14px;
}
.login-right-content .social-btn{
    padding: 8px 3px 8px 16px;
}
.login-control > label{
    font-size: 14px;
}
.login-control > .form-control{
    border-color: #232a31;
    background: #232a31;
    color: #fff;
    font-size: 14px;
    padding: 12px;
}
.login-control > .form-control::placeholder {
    color: #fff;
    opacity: 0.5; 
}
.login-form .btn{
    padding: 0.8rem 2.6rem;
}
.fs-14{
    font-size: 14px;
}
.login-form .form-check-input:not(:checked){
    background-color: #232a31;
    border-color: #232a31;
}

/* header css */
.header-wrapper.fixed-header{
    background-color: #111418;
    transform: translateY(0);
}
.header-wrapper.fixed-header > header{
    padding-top:8px !important ;
    padding-bottom: 8px !important;
    transition: all 0.5s ease-in-out;
}
.header-wrapper{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateY(3px);
    z-index: 999;
}
.header-right-section > .nav > .nav-item > .nav-link,
.header-login-link > a{
    text-decoration: none;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    opacity: 0.8;
    position: relative;
    padding: 8px;
    font-size: 14px;
}
.header-right-section > .nav > .nav-item > .nav-link:after,
.header-login-link > a:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0px;
    background-color: #0d6efd;
    transition: all 0.2s ease-in-out;
}
.header-login-link > a:hover:after,
.header-login-link > a:focus:after,
.header-right-section > .nav > .nav-item > .nav-link:hover:after,
.header-right-section > .nav > .nav-item > .nav-link:focus:after{
    width: 100%;
}
.header-right-section > .nav > .nav-item > .nav-link:hover,
.header-right-section > .nav > .nav-item > .nav-link:focus,
.header-login-link > a:hover,
.header-login-link > a:focus{
    color: #0d6efd;
    opacity: 1;
}
.add-event-btn{
    margin-left: 1rem;;
}
.add-event-btn > i{
    font-size: 10px;
    margin-right: 6px;
}

/* end header css */
/* Slider css */
.slider-wrapper{
    background-image: url(../images/banner-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 12rem 0;
    position: relative;
    z-index: 9;
}
.slider-wrapper:after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(17, 20, 24,0.7);
    z-index: 1;
}
.slider-content{
    position: relative;
    z-index: 99;
    padding: 0 1rem;
}
.slider-search-wrapper{
    max-width: 70%;
}
.slider-search-wrapper .slider-search-input{
    padding: 0.7rem;
    border: 1px solid #fff;
    border-radius: 4px 0 0 4px;
    flex: 1;
    overflow: auto;
}
.slider-search-wrapper .slider-search-input:focus{
    border-color: #0d6efd;
    outline: none;
}
.slider-search-wrapper .slider-search-btn{
    padding: 0.7rem 1.4rem;
    border-radius: 0 4px 4px 0; 
}
.slider-search-wrapper .slider-search-btn  > i{
    font-size: 12px;
}
/* End Slide css */
.about-left-section > img{
    width: 100%;
}
.about-left-section{
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    max-width: 85%;
}
.about-left-section:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
    z-index: 4;
}
.about-left-section .about-left-section-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    white-space: nowrap;
    color: #111418;
}
.section-header > h4{
    letter-spacing: 2px;
}
.event-card{
    border-radius: 4px;
    box-shadow: 0 0 2px 0px rgba(0,0,0,0.2);
    transition: all 0.5s ease-in-out;
    margin-bottom: 1.5rem;
}
.event-card:hover{
    box-shadow: 0 4px 6px -2px rgba(0,0,0,0.2);
}
.event-card:hover .event-content-title{
    color: #0d6efd !important;
}
.event-card .event-image{
    height: 190px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 4px 4px 0 0;
}
.event-card .event-image > img{
    min-height: 190px;
    width: 100%;
}
.event-top{
    padding: 10px;
    text-align: center;
}
.event-content .event-content-title{
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 10px;
    display: block;
    padding-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-content .event-content-description{
    font-size: 13px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.event-bottom{
    font-size: 14px;
}
.footer-wrapper{
    background-image: url(../images/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 10;
}
.footer-wrapper:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17,20,24,0.2);
    z-index: 9;
}
.footer-social-wrapper{
    z-index: 99;
    position: relative;
}
.footer-social-list {
    list-style: none;
}
.footer-social-list .footer-social-list-link{
    display: flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: all 0.2s ease-in-out;
}
.footer-social-list .footer-social-list-link:focus,
.footer-social-list .footer-social-list-link:hover{
    background-color: rgba(13,110,253,0.3);
}
.footer-copyright-wrapper{
    border-top:1px solid rgba(220,223,229,0.3);
    z-index: 99;
    position: relative;
}
.event-detail-wrapper{
    background-image: url(../images/details-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8rem 0 5rem;
    background-position: 0 52%;
    position: relative;
}
.event-detail-wrapper:after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(17,20,24,0.5);
}
.event-detail-list{
    list-style: none;
}
.event-detail-list > li{
    margin: 0 0.8rem;
}
.event-detail-content{
    position: relative;
    z-index: 99;
}
.event-detail-title{
    font-size: 26px;
    position: relative;
}
.event-detail-title:after{
    content: '';
    position: absolute;
    height: 2px;
    width: 70px;
    background-color: #dcdfe5;
    bottom: -9px;
    left: 0;
}
.event-detail-section-img > img{
    width: 100%;
}
.event-detail-section-top .event-detail-section-date{
    font-size: 25px;
}
.event-detail-section-top{
    border-bottom: 1px solid #dcdfe5;
}
.event-detail-section-bottom-header{
    position: relative;
}
.event-detail-section-bottom-header:after{
    content: '';
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 40px;
    height: 2px;
    background-color: #dcdfe5;
}
.event-detail-newsletter{
    border: 2px solid rgba(220,223,229,0.3);
    border-radius: 4px;
    padding: 1rem;
}
.error-section > h1{
    font-size: 15rem;
}